body{
    background:linear-gradient(to bottom right, white, #bcbdc4);
    height: 100%;
}
.headerx{
    position: fixed;
    width: 100%;
    height: 20%
    top: 0;
    left: 0;
    color: darkgoldenrod;
    background: #142170;
    z-index: 7;
    font-family: verdana;
    
}
.headery{
    position: fixed;
    width: 100%;
    height: 10%;
    top:20;
    left: 1000;
    color: darkgoldenrod;
    z-index: 7;
    font-family: verdana;
    
}
.aloha{
    position: fixed;
    left: 10px;
}
.form{
    position: fixed;
    top: 30%;
    left: 40%;
    background: linear-gradient(to bottom left,green,#bcb878);
    padding: 20px;
    border-radius: 20px;
}