body{
    background:linear-gradient(to bottom right, white, #bcbdc4);
    height: 400px;
}
.headerx{
    position: fixed;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    color: darkgoldenrod;
    background: #142170;
    z-index: 7;
    font-family: verdana;
    
}
.headery{
    position: fixed;
    width: 100%;
    height: 100px;
    top:20;
    left: 1000;
    color: darkgoldenrod;
    z-index: 7;
    font-family: verdana;
    
}
.form1
{
    position: fixed;
    top: 150;
    left: 450;
    background: linear-gradient(to bottom left,green,#bcb878);
    padding: 20px;
    border-radius: 20px;
}